@tailwind base;
@tailwind components;
@tailwind utilities;

.pokecard {
  border: 1px solid #000;
  border-radius: 10px;
}
.pokecard > .cardbody {
  background: #aca3a350;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 2rem;
}
.customcard {
  border: 1px solid #000;
  border-radius: 10px;
  width: 30%;
  margin: auto;
}
.customcard > .head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.customcard > .body {
  background-color: #f9bf58;
  list-style: none;
  padding: 1rem;
}
